@import url(../mixin.less);

.project-page {
  .box-top {
    .share-it {
      display: flex;
      align-items: center;

      .network {
        display: inline-flex;
        margin-left: 15px;
      }
    }
  }

  .project-box-description {
    .container {
      display: flex;
      flex-wrap: wrap;
      margin: -25px -76px;

      & > *{
        margin: 25px 76px;
      }
      h3{
        color: @gray;
      }
      i + h3{
        margin-top: 70px;
      }
      .text{
        min-width: 250px;
        flex: 1;
      }
      .image{
        flex: 1 1 700px;
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(4, 1fr);

        div:first-child{
          grid-column: ~'1 / 3';
          grid-row: 1 e("/") 3;
        }
        div{
          .bg-image;

          &:after{
            content: '';
            padding-top: 70%;
            display: block;
          }
        }

        img{
          display: block;
        }
      }
    }
  }
}