@import url(./default.less);
@import url(./mixin.less);

.btn {
  padding: 0 28px;
  border-radius: 100px;
  min-width: 220px;
  height: 48px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: #FF8200;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  margin-top: 32px;
  .transition;

  &:hover {
    background: #e8334d;
    color: #fff;
  }
  a& {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &.green{
    background: transparent;
    color: @green;
    border: 2px solid #009CA6;
    box-shadow: none;
  }
}

.main-content{
  flex: 1;
}

.center {
  position: relative;
  max-width: 1440px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.mobile-menu {
  display: none;
  background: transparent;

  svg {
    display: block;
  }
}

.green-circle,
.red-circle,
.blue-circle{
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    z-index: -1;
  }
}

.list{
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  .transition();

  li{
    font-style: italic;

    & + li{
      margin-top: 12px;
    }
  }
}

.green-circle{
  &:before{
    background: linear-gradient(90deg, #7EDDD3 0%, #2AD2C9 49.93%, #009CA6 100%);
    box-shadow: 0px 8px 32px rgba(70, 185, 181, 0.5);
    height: 614px;
    width: 614px;
  }
}

.red-circle{
  &:before{
    background: linear-gradient(270deg, #C63527 0%, #FF5E00 49.93%, #FF8200 100%);
    box-shadow: 0px 8px 32px rgba(201, 65, 15, 0.5);
    height: 536px;
    width: 536px;
  }
}

.blue-circle{
  &:before{
    background: linear-gradient(270deg, #3E4BA3 0%, #6941C6 49.55%, #7F4AAE 100%);
    box-shadow: 0px 8px 32px rgba(48, 44, 177, 0.5);
    width: 672px;
    height: 672px;
  }
}

.ham-menu{
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;

  &.active{
    transform: rotate(45deg);

    .top {
      stroke-dashoffset: -64px;
    }
    .middle {
      transform: rotate(90deg);
    }
    .bottom {
      stroke-dashoffset: -64px;
    }
  }
  .top {
    stroke-dasharray: 40 160;
  }
  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 62% 62%;
    transition: transform 400ms;
  }
  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
}

.main-header{
  padding: 50px 0;

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .logo{
    display: flex;
    align-items: center;

    .line{
      background: #DDDDDD;
      width: 1px;
      height: 60px;
      margin: 0 23px 0 32px;
    }
  }
  .main-nav{
    display: flex;
    align-items: center;
    text-transform: uppercase;

    li + li{
      margin-left: 25px;
    }
    .btn{
      margin-top: 0;
    }
  }
}

@import url(./pages/index.less);