@import url(./default.less);
@import url(./mixin.less);

.btn {
  padding: 0 28px;
  border-radius: 100px;
  min-width: 220px;
  height: 48px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: @orange;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  margin-top: 32px;
  .transition;

  &:hover {
    background: #FF5E00;
    color: #fff;
  }
  &:active{
    background: #FF8200;
  }
  a& {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &.green{
    background: transparent;
    color: @green;
    border: 2px solid #009CA6;
    box-shadow: none;

    &:hover{
      background: #009CA6;
      color: #fff;
    }
    &:active{
      background: #2AD2C9;
      border-color: #2AD2C9;
    }
  }
}

.main-content{
  flex: 1;
}

.center {
  position: relative;
  max-width: 1440px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.white-text{
  color: #FFFFFF;

  h1, h2, h3, h4, h5, h6{
    color: #FFFFFF;
  }
}
.gray-text{
  color: @gray;
}

.link {
  margin-top: 16px;
  color: #009CA6;
  border-bottom: 1px solid #009CA6;

  &:hover {
    border-color: transparent;
  }
}

.tab-container{
  & > *{
    display: none;

    &.active{
      display: block;
    }
  }
}

.mobile-menu {
  display: none;
  background: transparent;

  svg {
    display: block;
  }
}

.slick-arrow{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-flex!important;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #CCCCCC;
  color: #CCCCCC;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  .transition();

  &:hover{
    color: @green;
    border: 2px solid @green;
  }
  &.slick-prev{
    transform: rotate(180deg);
    margin-right: 32px;
    left: -48px;
  }
  &.slick-next{
    right: -48px;
  }
}

.slider-dots{
  margin-top: 50px;

  .slick-dots{
    display: flex!important;
    align-items: center;
    min-height: 20px;

    li{
      display: flex;
      align-items: center;
    }
    button{
      border-radius: 50%;
      background: transparent;
      width: 12px;
      height: 12px;
      border: 1px solid #AAAAAA;
      font-size: 0;
      margin-right: 16px;
      .transition();
    }
    .slick-active{
      button{
        border: 3px solid @green;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.network{
  a{
    color: #ffffff;

    &:hover{
      color: @orange;
    }
  }
}

.green-circle,
.red-circle,
.blue-circle{
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    z-index: -1;
  }
}

.list{
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  .transition();

  li{
    font-style: italic;

    & + li{
      margin-top: 12px;
    }
  }
}

.green-circle{
  &:before{
    background: linear-gradient(90deg, #7EDDD3 0%, #2AD2C9 49.93%, #009CA6 100%);
    box-shadow: 0px 8px 32px rgba(70, 185, 181, 0.5);
    height: 614px;
    width: 614px;
  }
}

.red-circle{
  &:before{
    background: linear-gradient(270deg, #C63527 0%, #FF5E00 49.93%, @orange 100%);
    box-shadow: 0px 8px 32px rgba(201, 65, 15, 0.5);
    height: 536px;
    width: 536px;
  }
}

.blue-circle{
  &:before{
    background: linear-gradient(270deg, #3E4BA3 0%, #6941C6 49.55%, #7F4AAE 100%);
    box-shadow: 0px 8px 32px rgba(48, 44, 177, 0.5);
    width: 672px;
    height: 672px;
  }
}

.ham-menu{
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;

  &.active{
    transform: rotate(45deg);

    .top {
      stroke-dashoffset: -64px;
    }
    .middle {
      transform: rotate(90deg);
    }
    .bottom {
      stroke-dashoffset: -64px;
    }
  }
  .top {
    stroke-dasharray: 40 160;
  }
  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 62% 62%;
    transition: transform 400ms;
  }
  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
}

.main-header{
  padding: 50px 0;

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .logo{
    display: flex;
    align-items: center;

    .line{
      background: #DDDDDD;
      width: 1px;
      height: 60px;
      margin: 0 23px 0 32px;
    }
  }
  .main-nav{
    display: flex;
    align-items: center;
    text-transform: uppercase;

    li + li{
      margin-left: 25px;
    }
    .btn{
      margin-top: 0;
    }
  }
}

.main-footer{
  background: #222222;
  padding: 156px;
  color: #FFFFFF;

  h6{
    color: @gray;
  }
  a{
    color: #FFFFFF;

    &:hover{
      color: @orange;
    }
  }
  .container, .inner-container{
    display: flex;
  }
  .inner-container{
    & > *{
      flex: 1 1 150px;
    }
  }
  .container-left{
    margin-right: 10vw;
  }
  .description{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 80px;
  }
  .logo{
    margin-bottom: 15px;
  }
  .copyright{
    font-size: 12px;
    line-height: 24px;
    margin-top: 65px;
  }
  .network{
    margin-top: 70px;
  }
  li + li{
    margin-top: 10px;
  }
  form{
    input, .btn{
      width: 100%;
    }
    .btn{
      margin-top: 15px;
    }
  }
}

@import url(./pages/index.less);